:root{
    --background-color:#fff;
    --background-light:#fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255,0,86);
    --text-color: #0A0A0A;
    --text-light:#575757;
    --font-size: 16px;
    --animation-speed:1;

}
@function getAnimationDuration($duration: number){
    @return calc($duration * var(--animation-speed));

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: var(--font-size);
    font-family: "poppins", sans-serif;
    padding-top: 55px;
    background-color: var(--background-light);
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
} 
.btn1{
    border:none;
    outline: none;
    background-color: var(--primary-color);
    color:white;
    text-transform: uppercase;
    padding: .75em 1em;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold  ; 
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 3px 8px var(--shadow-color);
    &:hover{ 
        box-shadow: 0 5px 8px var(--shadow-color);
    }
}
@import "partials/_navbar.scss";
@import "partials/animations.scss";

.section{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5vw;
    &.d-block{
        display: block;
    }
    .title{
        color:var(--text-color);
        font-size: 3em;
        margin-bottom: .25em;
        font-weight: 900;
    }
    .para{
        color:var(--text-light);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-bottom: 1.25em;
    }
    .col{
        width: 50%;
    }
}
@import "partials/hero-section.scss";
@import "partials/improve-section.scss";
@import "partials/quote-section.scss";
@import "partials/chef-section.scss";
@import "partials/previous-searches";

.options-container{
    box-shadow: 0 5px 10px var(--shadow-color);
    padding: 1em;
    border-radius: 5px;
    border-left: .5em solid var(--primary-color); 
    background-color: var(--background-light);
    margin-top: 1em;
    display: flex;
    gap: 1em;
    .option{
        height: 3.5em;
        width: 3.5em;
        box-shadow: 0 3px 6px var(--shadow-color);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.light{
            background-color: #fff;
        }
        &.dark{
            background-color: rgb(29, 29, 29);
        }
        .check{
            height: 2.5em;
            width: 2.5em;
            background-color: var(--primary-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 5px var(--shadow-color);
            svg{
               height: 1.5em;
               width: 1.5em;
            }
           
        }
    }
    .btn1 span{
        display: inline-block;
        margin-left: .5em;
    }
}

.d-block  h2{
     color: var(--text-color);
     font-size: 1.50em;
    
}
@import "partials/_footer.scss";
@import "partials/recipe-card.scss";


 

.main{
    padding-block: 2vw;
}
.container{
    padding-inline: 18vw;
}

.container-login{
    box-shadow: 1px 5px 8px var(--shadow-color);
    border: 2px solid var(--primary-color);
    background-image: url("/public/images/recepies/image_22.jpg");
    background-size: cover;
    border-radius: 5px;
    width: 30em;
    display: grid;
    // left: -5em;
    grid-template-columns: repeat(1, 1fr);
    gap: 10em;
    padding: 4em;
    .header{
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-weight: bold;
        font-size: 1.5em;
        background-color: var(--primary-color);
        border-radius: 10px;
    }
    .email{
        margin-top: 2.5rem;
        width: 100%;
        height: 2em;
       display: grid;
       grid-template-columns:repeat(2, 1fr);
       .symbol-input100{
        margin: 0 .5em;
       font-size: 1.2em;
       color:var(--primary-color);
       }
       .input100{
        background-color: transparent;
        width:24em;
        border: none;
        outline: none;
        height:2.5em;
        font-weight: 500;
        &::placeholder{
            color: #fff;
        }
        &:hover{
            border-bottom: 2px solid var(--primary-color);
        }
       }
    }
    .password{
        margin-top: 2.5rem;
        width: 100%;
        height: 2em;
        display: grid;
       grid-template-columns:repeat(2, 1fr);
       border-radius: 5px;
       .symbol-input100{
        margin: 0 .5em;
       font-size: 1.2em;
       color:var(--primary-color);
       }
       .input100{
        color: #fff;
        font-weight: 500;
        background: transparent;
        border: none;
        outline: none;
        width:24em;
        height:2.5em;
        &::placeholder{
            color: #fff;
        }
        &:hover{
            border-bottom: 2px solid var(--primary-color);
        }
       }
}
.name{
    margin-top: 2.5rem;
    width: 100%;
    height: 2em;
    display: grid;
   grid-template-columns:repeat(2, 1fr);
   border-radius: 5px;
   .symbol-input100{
    margin: 0 .5em;
   font-size: 1.2em;
   color:var(--primary-color);
   }
   .input100{
    color: #fff;
    font-weight: 500;
    background: transparent;
    border: none;
    outline: none;
    width:24em;
    height:2.5em;
    &::placeholder{
        color: #fff;
    }
    &:hover{
        border-bottom: 2px solid var(--primary-color);
    }
   }
}
.btn1{
    margin-top: 2.5rem;
    line-height: .5em;
}
.link{
    margin-top: 1.5em;
}
.txt2{
    color: var(--primary-color);
    padding: .3em .5em;
    font-weight:500;
    font-size: .8em;
    
}
}

.recipe-container{
    .btn1{
        color: var(--background-light);
        margin-top: -1em;
        margin-bottom: 0.9em;
        width: 6em;
        padding: .5em;
        border-radius: 2px;
        font-size: 17px;
        text-transform: lowercase;
        .back-icon{
            padding-right: .6em;
        }
    }
    .recipe-image{
        img{
            width: 60vw;
            height: 17em;
            z-index: -1;
        }
    }
    .chef-image{
        img{
            margin-top:-6em;
            margin-left: 2em;
            width:8em;
            height: 8em;
            border-radius: 50%;
            z-index: 2;
            border: 3px solid whitesmoke;
        }
    }
  .Procedures{
    display: flex;
  }
}



@media screen and (max-width:1280px) {
    .container{
        padding-inline: 18vw;
    }
}

@media screen and (max-width:1050px) {
    .container{
        padding-inline: 12vw;
    }
}



@media screen and (max-width:768px) {
    .nav-bar{
        .nav-links{
            display: none;
        }
        .sidebar-Icon{
            display: block;
        }
    }
    .section{
        .col{
            width:100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }

    .skill-items{
     display: inline-block;
     margin: .75em;
    
    }
    .section.improve-skills .btn1{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .chef-card{
        box-shadow: 0 5px 10px var(--shadow-color);
    }
    .container{
        padding-inline: 6vw;
    }
    .footer{
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        .footer-section:nth-child(1){
                    grid-column:  span 4;
        }
        .footer-section:nth-child(2){
            grid-column:  span 2;
        }
        .footer-section:nth-child(3){
            grid-column:  span 2;
        }
    }
}

@media screen and (max-width:480px) {
    .container{
        padding-inline: 3vw;
    }
    .footer{
        p{
            font-size: .86em;
        }
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2em;
        .footer-section:nth-child(1){
                    grid-column:  span 4;
        }
        .footer-section:nth-child(2){
            grid-column:  span 2;
        }
        .footer-section:nth-child(3){
            grid-column:  span 2;
        }
    }
    .container-login{
        padding: 1.7em;
        width: 20em;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .header{
            font-size: 1.2em;
            display: flex;
            flex: none;
            width: 6em;
            padding: .2em;
        }
       .email{
        width: 18em;
        display: flex;
        flex-wrap: wrap;
            .input100{
                width:17em;
                border-color: transparent;
                &:hover{
                    border-bottom: 2px solid var(--primary-color);
                }
            }
        }
        .password{
            width: 18em;
            display: flex;
            flex-wrap: wrap;
                .input100{
                    width:17em;
                    &:hover{
                        border-bottom: 2px solid var(--primary-color);
                    }
                }
            }
       .name{
                width: 18em;
                display: flex;
                flex-wrap: wrap;
                    .input100{
                        width:17em;
                        &:hover{
                            border-bottom: 2px solid var(--primary-color);
                        }
                    }
            }
}
        
}